<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Levent. It uses data from anadfasdf,asmnfd</p>
        </div>
    </body>
    {{>footer}}
</html>