<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{>header}}
    </head>
    <body>
        <div class="main-content">
        <img src='./img/nyancat.jpg'>
        </div>
    </body>
    {{>footer}}
</html>