<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>
            <p>{{address}}</p>
            <p><img src='./img/nyancat.jpg'></p>
        
        <form>
            <input placeholder="Location">
            <button type="submit">Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
    </body>
    {{>footer}}
</html>